# Python bytecode and cache
__pycache__/
*.pyc

# VSCode / PyCharm / IDE settings
.vscode/
*.idea/

# Maya logs
*.log

# Virtual environments
venv/
.venv/
venv39/

# Coverage reports
.coverage
coverage.xml
htmlcov/

# Pytest cache
.pytest_cache/
.cache/

# macOS system files
.DS_Store
